.instruct {
   color: white;
   margin-left: 22%;
   margin-top: 8%;
   font-size: 30px;
   text-shadow: 0 0 8px black;
   font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}
body {
    background: url(WebpageImages/MeltingBackground.png) no-repeat center center fixed;
    margin: 0 auto;
    background-size: 100% 100%;
}
.submit {
    display: inline-block;
    cursor: pointer;
    padding: 10px 15px;
    font-size: 24px;
    text-align: center;
    text-decoration: none;
    text-decoration-color: white;
    outline: none;
    color: #fff;
    background-color: rgb(16, 209, 16);
    height : 200px;
    width: 200px;
    position: absolute;
    opacity: .75; 
    border-radius: 70px;
    margin-left: 65%;
    margin-top: 2%;
    border: 7px solid green;
}
.text1 {
    color: white;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    font-size: 18px;
    margin-left: 10%;
    margin-top: 2%;
    position: absolute;
}
.text2 {
    color: white;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    font-size: 18px;
    margin-left: 3%;
    margin-top: 2%;
    position: absolute;
}
.jsOutput {
    text-align: right;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    margin-right: 35%;
    margin-top: 6%;
    font-size: 25px;
    color: white;
    height: 10px;
}
input::placeholder {
    font-size: 16px;
}
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    font-size: 30px;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    width: 250px;
    height: 100px;
    margin-left: 25%;
}
input[type=text]:focus {
    border: 3px solid #555;
}